nav {
  width: 50%;
  height: 3rem;
  background-color: gray;
}

div {
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  pointer-events: none;
  opacity: 0;
  margin-top: -2%;
  transition: opacity 300ms ease;
  transition: margin-top 200ms ease-in-out;
}

ul.visible {
  opacity: 1;
  margin-top: 2%;
  pointer-events: all;
  background-color: yellow;
}
